snippet hw
---
title: ${1: Homework}
date: ${2: \today}
author: ${3:Alberto Sadde}
fontsize: 11pt
classoption: twoside
classoption: a4paper
header-includes:
$4
---
$0
endsnippet

snippet hask
```haskell
$1
```
endsnippet

snippet code
```$1
$2
```
endsnippet

snippet note "notecard" b
---
title: ${1: `!v expand("%:t:r")`}
created: `date +%D`
source: ${2: `!v expand('%:p:h:t')`}
categories: ${4: }
---

<!-- Front -->
${3}
<!-- Back -->
${4}
endsnippet
