snippet larw
\leftarrow
endsnippet

snippet rarw
\rightarrow
endsnippet

snippet sec
% -----------------------------------------------------------------------------
% -- $1 ----------------------------------------------------------------------
% -----------------------------------------------------------------------------
endsnippet

snippet sep
% - $1 ----------------------------------------------------------------------
endsnippet

snippet code "Insert a code listing env" b
\begin{lstlisting}
$1
\end{lstlisting}
endsnippet

snippet codp "Insert a code pretty listing env" b
\begin{lstlisting}[frame=bottomline, caption=${1: Caption},
label=lst:${2:label}]
$3
\end{lstlisting}
endsnippet


